/* 
.titlename {
    position: absolute;
    font-family: 'Cinzel', serif;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    font-size: 8em;
}

.textStyle{
    color: white;
    font-weight: 20;
}

@media only screen and (max-width: 600px) {
    .titlename{
        font-weight: 50;
        font-size: 2em;
        margin-top:30%
    }
    .textStyle{
        font-weight: 0;
    }
  }

 
  @media only screen and (max-width: 815px) {
    .titlename{
        font-weight: 100;
        font-size: 4em;
        margin-top:20%
    }
    .textStyle{
        font-weight: 10;
    }
  }  */
